<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="~{fragments/head :: head}"></div>
    <!-- Custom styles this page-->
    <link rel="stylesheet" th:href="@{/css/validation.css}">
    <!-- Custom styles for this page -->
    <link th:href="@{/vendor/datatables/dataTables.bootstrap4.min.css}" rel="stylesheet">

</head>
<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">
    <!--  fragments sidebar -->
    <div th:replace="~{fragments/sidebar :: sidebar}"></div>
    <!-- End of fragments sidebar -->
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- fragments  topbar -->
            <div th:replace="~{fragments/topbar :: topbar}"></div>
            <!-- End of fragments topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->

                <h1 class="h3 mb-4 text-gray-800 " th:text="#{user.text}"></h1>
                <button data-toggle="modal" data-target="#AddUserModal" class="btn btn-success btn-icon-split mb-4">
                    <span class="icon text-white-50">
                      <i class="fas fa-plus"></i>
                    </span>
                    <span class="text" th:text="#{user.add.text}"></span>
                </button>
                <!-- DataTales Example -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary" th:text="#{user.table.text}"></h6>
                    </div>
                    <div class="card-body">
                        <!--  message-->
                        <div th:replace="~{fragments/message :: message}"></div>
                        <!-- End message-->
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                <tr>
                                    <th th:text="#{user.table.id.text}"></th>
                                    <th th:text="#{user.table.email.text}"></th>
                                    <th th:text="#{user.table.name.text}"></th>
                                    <th th:text="#{user.table.lname.text}"></th>
                                    <th th:text="#{user.table.role.text}"></th>
                                    <th th:text="#{user.table.ed.text}"></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:if="${user.roles.iterator().next().getRole()!='ADMIN'}" th:each="user : ${list}">
                                    <td th:text="${user.id}"></td>
                                    <td th:text="${user.email}"></td>
                                    <td th:text="${user.name}"></td>
                                    <td th:text="${user.lastName}"></td>
                                    <td th:text="${user.roles.iterator().next().getRole()}"></td>
                                    <td><a th:href="@{/users/edit_user(id=${user.id})}"
                                           class="btn btn-warning btn-circle btn-sm" id="eBtn">
                                        <i class="fas fa-edit"></i></a>
                                        <button th:value="${user.id}"
                                                class="btn btn-success btn-circle btn-sm " id="pBtn">
                                            <i class="fas fa-lock"></i></button>
                                        <a th:href="@{/users/delete_user(id=${user.id})}"
                                           class="btn btn-danger btn-circle btn-sm " id="dBtn">
                                            <i class="fas fa-trash"></i></a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer fragment -->
        <div th:insert="~{fragments/footer :: footer}"></div>
        <!-- End of Footer fragment -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->
<!-- Scroll to Top Button fragment-->
<div th:insert="~{fragments/scrolltop :: scrolltop}"></div>
<!-- End of Scroll to Top Button fragment -->


<!-- Delete Modal-->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel" th:text="#{md.head.text}"></h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body" th:text="#{md.body.text}"></div>
            <div class="modal-footer">
                <form method="get">
                    <button class="btn btn-secondary btn-icon-split" type="button" data-dismiss="modal">
                        <span class="icon text-white-50">
                      <i class="fas fa-times"></i>
                    </span> <span class="text" th:text="#{button.cancel.text}"></span>
                    </button>
                    <a type="submit" class="btn btn-danger btn-icon-split" id="delRef"> <span
                            class="icon text-white-50">
                      <i class="fas fa-trash"></i>
                    </span> <span class="text" th:text="#{button.delete.text}"></span></a>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Password Modal-->
<div class="modal fade" id="pModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="passwordModalLabel" th:text="#{cp.text}"></h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post" class="form-horizontal" autocomplete="off" action="#"
                      th:action="@{/users/editpassword_user}"
                      role="form">

                    <div class="row">
                        <div class="form-group  col-md-5 ml-3">
                            <label th:text="#{cp.np.text}"></label>
                            <input type="password" class="form-control" name="newp"
                                   minlength="6"
                                   required="required"/>

                        </div>
                        <div class="form-group  col-md-5 ml-3">
                            <label th:text="#{cp.cnp.text}"></label>
                            <input type="password" class="form-control" name="cnewp"
                                   minlength="6"
                                   required="required"/>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary btn-icon-split" type="button" data-dismiss="modal">
                        <span class="icon text-white-50">
                      <i class="fas fa-times"></i>
                    </span> <span class="text" th:text="#{button.cancel.text}"></span>
                        </button>
                        <button type="submit" class="btn btn-success btn-icon-split" id="pRef" name="id">
                             <span class="icon text-white-50">
                            <i class="fas fa-fw fa-save"></i></span>
                            <span class="text" th:text="#{button.save.text}">
                             </span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- AddUser Modal -->
<div class="modal fade" id="AddUserModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="AddUserModalLabel" th:text="#{ma.head.text}"></h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form autocomplete="off" action="#" th:action="@{/users/add_user}"
                      th:object="${user}" method="post" class="form-horizontal"
                      role="form">
                    <div class="form-row">
                        <strong th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
                                class="validation-message "></strong>
                        <div class="form-group col-md-8">

                            <label for="inputEmail" th:text="#{user.table.email.text}"></label>
                            <input type="email" class="form-control" id="inputEmail" th:field="*{email}"
                                   th:placeholder="#{user.table.email.text}"
                                   required="required"/>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-8">

                            <label for="inputPassword4" th:text="#{user.table.pass.text}"></label>
                            <input type="password" class="form-control" id="inputPassword4" th:field="*{password}"
                                   th:placeholder="#{user.table.pass.text}"
                                   minlength="6"
                                   required="required"/>
                        </div>
                    </div>
                    <div class="form-row">

                        <div class="form-group  col-md-6">
                            <div class="my-1">
                            </div>
                            <label for="inputfirstname" th:text="#{user.table.name.text}"></label>
                            <input type="text" class="form-control" id="inputfirstname" th:field="*{name}"
                                   th:placeholder="#{user.table.name.text}"
                                   required="required"/>
                        </div>
                        <div class="form-group  col-md-6">
                            <div class="my-1">
                            </div>
                            <label for="inputlastname" th:text="#{user.table.lname.text}"></label>
                            <input type="text" class="form-control" id="inputlastname" th:field="*{lastName}"
                                   th:placeholder="#{user.table.lname.text}"
                                   required="required"/>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="inputRole" th:text="#{user.table.role.text}">Role</label>
                            <select id="inputRole" class="form-control" th:field="*{roles}">
                                <option th:value="2" th:text="STAFF"></option>
                                <option th:value="3" th:text="MANAGER"></option>
                                <option th:value="4" th:text="TECHNICIAN"></option>
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary btn-icon-split" type="button" data-dismiss="modal">
                        <span class="icon text-white-50">
                      <i class="fas fa-times"></i>
                    </span> <span class="text" th:text="#{button.cancel.text}"></span>
                        </button>
                        <button class="btn btn-success btn-icon-split" type="submit">
                                                    <span class="icon text-white-50">
                      <i class="fas fa-save"></i>
                    </span> <span class="text" th:text="#{button.save.text}"></span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- EditUser Modal -->
<div class="modal fade" id="EditUserModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="EditUserModalLabel" th:text="#{me.head.text}"></h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form autocomplete="off" id="editform"
                      th:object="${user}" method="post" class="form-horizontal"
                      role="form">
                    <div class="form-row">
                        <div class="form-group col-md-9">
                            <label th:text="#{user.table.id.text}"></label>
                            <p class="ml-2 text-gray-800" id="iduser"></p>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-8">
                            <label th:text="#{user.table.email.text}"></label>
                            <p class="ml-2 text-gray-800" id="Email"></p>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group  col-md-6">
                            <label for="firstname" th:text="#{user.table.name.text}"></label>
                            <input type="text" class="form-control" id="firstname" th:field="*{name}"
                                   th:placeholder="#{user.table.name.text}"
                                   required>
                        </div>
                        <div class="form-group  col-md-6">
                            <label for="lastname" th:text="#{user.table.lname.text}"></label>
                            <input type="text" class="form-control" id="lastname" th:field="*{lastName}"
                                   th:placeholder="#{user.table.lname.text}"
                                   required>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="Role" th:text="#{user.table.role.text}"></label>
                            <select id="Role" class="form-control" th:field="*{roles}">
                                <option th:value="2" th:text="STAFF"></option>
                                <option th:value="3" th:text="MANAGER"></option>
                                <option th:value="4" th:text="TECHNICIAN"></option>
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary btn-icon-split" type="button" data-dismiss="modal">
                        <span class="icon text-white-50">
                      <i class="fas fa-times"></i>
                    </span> <span class="text" th:text="#{button.cancel.text}"></span>
                        </button>

                        <button class="btn btn-success btn-icon-split" type="submit">
                             <span class="icon text-white-50">
                      <i class="fas fa-sync"></i>
                    </span>
                            <span class="text" th:text="#{button.update.text}"></span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- script fragment -->
<script th:replace="~{fragments/script :: script}"></script>
<script th:replace="~{fragments/scriptlangdatatable :: scriptdatable}"></script>
<!-- End script fragment -->
<!-- Page level plugins -->
<script th:src="@{/vendor/datatables/jquery.dataTables.min.js}"></script>
<script th:src="@{/vendor/datatables/dataTables.bootstrap4.min.js}"></script>
<!-- Page level custom scripts -->
<script th:src="@{/js/users/users.js}"></script>
</body>
</html>