<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="~{fragments/head :: head}"></div>
</head>
<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">
    <!--  fragments sidebar -->
    <div th:replace="~{fragments/sidebar :: sidebar}"></div>
    <!-- End of fragments sidebar -->
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- fragments  topbar -->
            <div th:replace="~{fragments/topbar :: topbar}"></div>
            <!-- End of fragments topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Form -->
                <div class="col-lg-7 mx-auto">
                    <div class="card shadow mb-4 ">

                        <div class="card-body text-center ">

                            <div class="row ">
                                <div class="col">
                                    <div class="text-lg text-gray-900 text-uppercase " th:text="#{Profile.text}"></div>
                                </div>
                            </div>

                            <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 25rem;"
                                 th:src="@{/img/undraw_profile_6l1l.svg}" alt="">
                            <div class="row ">
                                <div class="col">
                                    <div class="text-lg text-gray-900 text-uppercase" th:text="#{role.text}"></div>
                                    <p sec:authentication="principal.authorities"></p>
                                </div>
                            </div>
                            <div class="row ">
                                <div class="col">
                                    <div class="text-lg text-gray-900" th:text="#{em.text}"></div>
                                    <p th:text="${em}"></p>
                                </div>
                            </div>
                            <div class="row ">
                                <div class="col">
                                    <div class="text-lg text-gray-900" th:text="#{fn.text}"></div>
                                    <p class="ml-2" th:text="${fn}"></p>
                                </div>
                                <div class="col">
                                    <div class="text-lg text-gray-900" th:text="#{ln.text}"></div>
                                    <p th:text="${ln}"></p>
                                </div>
                            </div>
                            <a th:href="@{/settings/account}"
                               class="btn btn-warning float-right">
                                <i class="fas fa-edit"></i> <span th:text="#{ed.text}"></span></a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer fragment -->
        <div th:insert="~{fragments/footer :: footer}"></div>
        <!-- End of Footer fragment -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->
<!-- Scroll to Top Button fragment-->
<div th:insert="~{fragments/scrolltop :: scrolltop}"></div>
<!-- End of Scroll to Top Button fragment -->
<!-- script fragment -->
<script th:replace="~{fragments/script :: script}"></script>
<!-- End script fragment -->
</body>
</html>