<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:include="~{fragments/head :: head}"></head>


<body class="bg-gradient-primary">

<div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">

        <div class="col-xl-10 col-lg-12 col-md-9">

            <div class="card o-hidden border-0 shadow-lg my-5  ">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                        <img class="img-fluid px-3 px-lg-1 mt-3 mb-4 ml-auto mx-auto" style="width: 25rem;"
                             th:src="@{/img/undraw_security_o890.svg}" alt="">
                        <div class="col-lg-6">
                            <div class="p-5">
                                <div th:replace="~{fragments/message :: message}"></div>
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-2" th:text="#{reset.head.text}"></h1>
                                </div>
                                <form class="user" action="#" th:action="@{/reset-password}" th:object="${user}"
                                      method="post">
                                    <div class="form-group ">
                                        <label for="email" th:text="#{reset.email.text}"></label>
                                        <input type="email"
                                               class="form-control form-control-user"
                                               required="required"
                                               th:field="*{email}"
                                               name="email" id="email" readonly>
                                    </div>
                                    <div class="form-group">
                                        <label for="password" th:text="#{reset.password.text}"></label>
                                        <input type="password"
                                               class="form-control form-control-user"
                                               minlength="6"
                                               th:placeholder="#{reset.password.placeholder.text}"
                                               required="required"
                                               id="password"
                                               th:field="*{password}">
                                    </div>
                                    <button type="submit" class="btn btn-primary btn-user btn-block"
                                            th:text="#{reset.button.text}">
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- script fragment -->
<script th:replace="~{fragments/script :: script}"></script>

<!-- End script fragment -->

</body>

</html>
